header img
  {
  width: 100%;
  height: 300px;
  display: inline;
  border-radius: 11px;
  box-shadow: 1px 1px 12px #555;
  }

ul
  {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  font-weight: bolder;
  padding: 0.5em;
  border-radius: 11px;
  box-shadow: 1px 1px 12px #555;
  background-color: navy;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
  }

ul li
  {
  display: inline;
  padding : 0 5em;
  color: rgb(240,128,128);
  }

ul li a
  {
  text-decoration: none;
  }

ul li a:hover
  {
  text-decoration: underline;
  }

ul li a:visited
  {
  color: rgb(240,128,128);
  }

h1, h2
  {
  font-family: fantasy;
  text-align: center;
  font-size: 3.5em;
  color: rgb(255,127,80);
  font-style: italic;
  }
h2
  {
  font-style: normal;
  color: grey;
  }

h3
  {
  text-align: center;
  }

article
  {
  border: 1px inset black;
  display: inline-block;
  background-color: silver;
  padding-right: 2.2em;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: inherit;
  padding: 1.1em;
  }

img
  {
  width: 350px;
  margin-right: 1px;
  }

.speaker
  {
  width: 400px;
  }

.tv
  {
  width: 400px;
  }

body
  {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
  }
